.main{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.first_image{
    display: flex;
}
.second_image{
    display: flex;
}
.photo{
    width: 300px;
    height: 300px;
}
.photo2{
    width: 300px;
    height: 300px;
}
.paragraph{
    margin-top: 120px;
}
.paragraph2{
    margin-top: 120px;
}
